

    Welcome,
    <%= @user.first_name%>!<br>
    <%= @user.first_name%>
    is attending:<br>
    <%@joins = Jointable.where(user_id:@user.id)%>
    <%@joins.each do |join| %>
    <br>
    <%@attending = Event.find_by_id(join.event_id)%>
    Event:
    <%= @attending.title%>
    <br>
    Date:
    <%= @attending.date%>
    <br>
    <%end%>

    <br>
    <%= image_tag(@user.avatar.url, :class => 'profile-picture') %>

    <br>
    <%= link_to("New Event", new_event_path, class: 'btn btn-info pull-right' ) %>
<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-5">
                <div>
                    Welcome,
                    <%= @user.first_name%>!<br>
                    <%= @user.first_name%>
                    is attending:
                    <%@joins = Jointable.where(user_id:@user.id)%>
                    <%@joins.each do |join| %>
                    <br>
                    <%=Event.find_by_id(join.event_id).title%>
                    <%end%>

                    <br>
                    <%= image_tag(@user.avatar.url, :class => 'profile-picture') %>

                    <br>
                    <%= link_to("New Event", new_event_path, class: 'btn btn-info') %>
                    <div class="col-md-7"></div>
                </div>
            </div>
        </div>

        <div>

            <% @event = Event.all%>
    <h3>My Events:</h3>
    <% @event.each do |ele| %>
    <% @creator=User.find_by_id(ele.user_id) %>
    <%if current_user == @creator%>
    <div class="card mb-3">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title"><%= link_to ele.title,  event_path(ele.id) %></h4>
            <p class="card-text"><%= ele.body %></p>
            <p class="card-text">
              <div class="pull-right">
                  <%= link_to("Edit", edit_event_path(ele.id), class: 'btn btn-info') %>
                  <%= link_to("Delete", event_path(ele.id), :method => :delete, data: {confirm: "Are you sure you want to delete #{ele.title}?"}, class: 'btn btn-danger') %>
              </div><br>
                <small class="text-muted">Date: <%= ele.date %></small>
            </p>
        </div>
    </div>
    <%end%>
    <%end%>
    <br>
        <p>Other Events</p>
        <% @event.each do |ele| %>
        <% @creator=User.find_by_id(ele.user_id) %>
        <%if current_user != @creator%>
        <div class="card mb-3">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"><%= link_to ele.title,  event_path(ele.id) %></h4>
                <p class="card-text"><%= ele.body %></p>

                <p class="card-text">
                    <small class="text-muted">Date: <%= ele.date %></small>
                    <div class="pull-right">Created By:
                        <%= @creator.first_name %>    </div>  <br>
                </p>
            </div>
        </div>
            <%end%>
            <%end%>
            <% if !@user.sales.empty? %>
            <p>Posts:
            </p>
            <% @user.sales.each do |sale| %>
            <div class="post-row">
                <p><%= link_to sale.title,  sale_path(sale.id) %><br>
                    <%= sale.body %><br>
                </div>
                <p class="pull-right">
                    <%= link_to("Edit", sale_edit_path(sale.id), class: 'btn btn-info')%>
                    <%= link_to("Delete", sale_path(sale.id), :method => :delete, data: {confirm: "Are you sure you want to delete #{sale.title}?"}, class: 'btn btn-danger') %>
                </p>
                <% end %>
            <% else %>
                <h4>No Posts Yet</h4>
                <% end %>
                <%= link_to("Delete", user_path, :method => :delete, data: {confirm: "Are you sure you want to delete your account?"}, class: 'btn btn-danger') %>

            </div>

            <% if current_user == @user%>
            <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
            <%end%>
                <p class="pull-right">
                    <%= link_to("Edit", edit_event_path(ele.id), class: 'btn btn-info') %>
                    <%= link_to("Delete", event_path(ele.id), :method => :delete, data: {confirm: "Are you sure you want to delete #{ele.title}?"}, class: 'btn btn-danger') %>
                </p>
                <%end%>
                <%end%>
              
<hr>
                    <% if !@user.sales.empty? %>
                    <p>
                        Posts:
                    </p>
                    <% @user.sales.each do |sale| %>
                    <div class="post-row">
                        <p><%= link_to sale.title,  sale_path(sale.id) %><br>
                            <%= sale.body %><br>
                        </div>
                        <p class="pull-right">
                            <%= link_to("Edit", sale_edit_path(sale.id), class: 'btn btn-info')%>
                            <%= link_to("Delete", sale_path(sale.id), :method => :delete, data: {confirm: "Are you sure you want to delete #{sale.title}?"}, class: 'btn btn-danger') %>
                        </p>
                        <% end %>
                    <% else %>
                        <h3>No Posts Yet</h3>
                        <% end %>
                        <%= link_to("Delete", user_path, :method => :delete, data: {confirm: "Are you sure you want to delete your account?"}, class: 'btn btn-danger') %>

                    </div>
                    <hr>
                    <div>
                      <% unless @orders.empty? %>
                      <h3>Pending Order</h3>
                      <% @orders.each do |order| %>
                        <%= link_to "#{order.title}", sale_path(order) %>
                      <%end%>
                      <%end%>

                    </div>
                    <hr>

                    <% if current_user == @user%>
                    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
                    <%end%>
