<div class="container">
  <div class="row">
      <div class="col-md-3">
          <h3>Welcome,
          <%= @user.first_name%>!</h3>
          <br>
          <%= image_tag(@user.avatar.url, :class => 'profile-picture') %>
          <br>
          <% if current_user == @user%>
          <%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary" %>
          <%= link_to("Delete", user_path, :method => :delete, data: {confirm: "Are you sure you want to delete your account?"}, class: 'btn btn-danger') %>
          <%end%>
          <%= link_to("New Event", new_event_path, class: 'btn btn-info') %>
      </div>

      <div class="col-md-9 post">

        <% if !@user.sales.empty? %>
        <p>Posts:</p>
        <% @user.sales.each do |sale| %>
          <div class="post">
            <h4><%= link_to sale.title,  sale_path(sale.id) %></h4>
                <%= sale.body[0,300]+"..." %>
             </div>
                <%= link_to("Edit", sale_edit_path(sale.id), class: 'btn btn-info btn-xs')%>
                <%= link_to("Delete", sale_path(sale.id), :method => :delete, data: {confirm: "Are you sure you want to delete #{sale.title}?"}, class: 'btn btn-danger btn-xs') %>
            <% end %>
        <% else %>
            <h4>No Posts Yet</h4>
            <% end %>
        </div>

    </div>
  </div>


<div>

    <p>
        Events:
    </p>
    <% @event = Event.all%>
    <% @event.each do |ele| %>
    <div class="row">

    </div>
    <div class="post-row">
        <p><%= link_to ele.title,  event_path(ele.id) %><br>
            <%= ele.body %><br>
        </div>

        <% @creator=User.find_by_id(ele.user_id) %>
        <%if current_user == @creator%>
        <p class="pull-right">
            <%= link_to("Edit", edit_event_path(ele.id), class: 'btn btn-info') %>
            <%= link_to("Delete", event_path(ele.id), :method => :delete, data: {confirm: "Are you sure you want to delete #{ele.title}?"}, class: 'btn btn-danger') %>
        </p>

        <% end %>
        <%end%>
</div>
