Edit Events Page

<%= form_for :event, :method => :put do |f| %>

<p> Title: <%= f.text_field :title, placeholder: :title %></p>
<p> Description: <%= f.text_area :body %></p>
<p> Category: <%= f.text_field :category %></p>
<p> Price: <%= f.number_field :price %></p>
<p> Address: <%= f.text_field :address %></p>
<p> Zipcode: <%= f.number_field :zipcode %></p>
<p> Date: <%= f.date_field :date %></p>
<%= f.hidden_field :user_id, :value => current_user.id%>
<%= f.submit "Save Event" %>
<% end %>
