<h3>All Events </h3>
<% @events.each do |ele| %>
<% @creator=User.find_by_id(ele.user_id) %>
<div class="card mb-3">
  <div class="image">
    <img class="image" src="https://tbdbitl.osu.edu/sites/tbdbitl.osu.edu/files/styles/slider_full_width/public/2012%20Miami%20-%201269-rotor.jpg?itok=bU4bTfm7" alt="Card image cap">
  </div>
    <div class="card-block">
        <h4 class="card-title"><%= link_to ele.title,  event_path(ele.id) %></h4>
        <p class="card-text"><%= ele.body %></p>

        <p class="card-text">
            <small class="text-muted">Date: <%= ele.date %></small>
            <div class="pull-right">Created By:
                <%= @creator.first_name %>
                <%= @creator.last_name %>  <br>
            </div>
        </p>
        <br><br>
    </div>
</div>
    <%end%>
