
  <p>New Event</p>
  <%= form_for @event, url:"/events" do |f| %>

  <p> Title: <%= f.text_field :title %></p>
  <p> Description: <%= f.text_area :body %></p>
  <p> Category: <%= f.select :category, ["Fun", "Education", "Political", "Other" ], class: "form-control" %></p>
  <p> Price: <%= f.number_field :price %></p>
  <p> Address: <%= f.text_field :address %></p>
  <p> Zipcode: <%= f.text_field :zipcode %></p>
  <p> Date: <%= f.date_field :date %></p>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= button_to("Create Event", create_event_path , :method => :post) %>
  <% end %>
</div>
