<h2>Welcome to edit Sales page</h2>

    <%= form_for :sale, :method => :patch do |f| %>
        <fieldset class="form-group">
          <label for="name">Title</label>
          <%= f.text_field :title, class: "form-control", placeholder: "Title" %>
        </fieldset>

        <fieldset class="form-group">
          <label for="name">Descpription</label>
          <%= f.text_area :body, class: "form-control", placeholder: "Descpription" %>
        </fieldset>

        <fieldset class="form-group">
        <label for="name">Category</label>
        <%= f.select :category, ["Bikes", "Electronics", "Books", "Cars", "Games", "Other" ], class: "form-control", placeholder: "Category" %>
        </fieldset>

        <fieldset class="form-group">
        <label for="name">Price</label>
        <%= f.number_field :price, :step => 0.01 , class: "form-control", placeholder: "Price" %>
        </fieldset>

        <fieldset class="form-group">
        <label for="name">Zipcode</label>
        <%= f.number_field :zipcode, class: "form-control", placeholder: "Zipcode" %>
        </fieldset>

        <fieldset class="form-group">
          <%= f.hidden_field :user_id, class: "form-control", :value => current_user.id %>
        </fieldset>

        <fieldset class="form-group">
          <%= f.submit "Submit", class: "btn btn-primary" %>
          <%= link_to "Cancel", user_path(current_user), class: "btn btn-primary" %>
        </fieldset>
    <% end %>
