<h2>hello from the show page</h2>


<h2><%= @sale.title %></h2>
<br />
<p>Category: <%= @sale.category %></p>
<br />
<p>Price: <%= @sale.price %></p>
<br />
<p>Location: <%= @sale.zipcode %></p>
<br />
<p><%= @sale.body %></p>
