<!DOCTYPE html>
<html>
    <head>
        <title>Dlist</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>


    <div class="head-nav">
        <% if current_user %>
      
            <%= link_to "Mailbox", conversations_path %> | <%= link_to "Profile", user_path(current_user) %> | <%= link_to "Log Out", logout_path %> |
        <% else %>
            <%= link_to "Create Account", new_user_path %> | <%= link_to "Log In", login_path %>
          <% end %>
            <%= link_to "Home", site_path %>
    </div>

        <% flash.each do |name, msg| %>
        <p>
          <small>
            <%= name.capitalize %>:
            <%= msg %>
          </small>
        </p>
        <% end %>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>

    </body>
</html>
